.wrapper {
}
.basket {
    &__page {
    }
}
.page {
}
.aproove {
    &__header {
        display: flex;
        align-items: center;
    }

    &__back {
        align-items: flex-start;
    }

    &__logo {
        margin: 0 auto;
    }
}


.section {
    &__top-page {
        background-color: #f3f1f1;
    }
}
.aproove {
    &__container {
    }

    &__back-link {
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    &__title {
        width: 100%;

        h2 {
            font-family: "Montserrat";
            font-size: 27px;
            font-weight: 800;
            line-height: 32.91px;
            text-align: center;
            @include adaptiveValue("font-size", 27, 18);
            
        }
    }

}
.order__item{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    padding: 15px 15px;
  
}
.order__button-box{
    display: flex;
}
.order__item {
    border-bottom: solid #f3f1f1;
}
.order__quantity-total {
    flex: 0 0 7%;
font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 24.38px;
text-align: center;
color:  #FF831D;


}
.order__describe {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 12.19px;
text-align: left;


}
.order__mass{
    font-family: Montserrat;
font-size: 12px;
font-weight: 600;
line-height: 14.63px;
text-align: left;

}
.order__title {
    font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 24.38px;
text-align: left;
margin-bottom: 0.5rem;

}
.order__caption{
    margin-bottom: 1rem;
}
.order__price {
    font-family: Montserrat;
font-size: 25px;
font-weight: 600;
line-height: 30.48px;
text-align: left;
color:  #FF831D;
}
.order__button-box {
    
  
}
.order__navigate {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav__busket-btn {
    position: absolute;
    top: 9%;
    left: 15%;
}
.navigation{
    display: flex;
    width: 50px;
    button{
        width: 40px;
        text-align: center;
        align-items: center;
        background-color: #D9D9D9;
        border-radius: 5px; 
    }
}
.order__minus {
  
}
.order__input {
    text-align: center;
}
.order__plus {
}
.order__delete-button {
}
.btn {
}
.btn__delete {
    width: 35px;
    height: 35px;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    background-color: #D9D9D9;
    border-radius: 8px;

}
.btn__image{
 width: 25px;
 height: 25px;
 pointer-events: none;
   
}
.order__img-quantity {
    flex: 0 0 40%;
}
.box {
}
.box__img {
}
.box__image {
}
.ibg {
}
.pict__image {
    aspect-ratio: 5/3;
    object-fit: cover;
}
.dishes__aproved-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dishes__next-page {
    background-color: #FF831D;
    padding: 20px 40px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    border-radius:15px ;
    -webkit-border-radius:15px ;
    -moz-border-radius:15px ;
    -ms-border-radius:15px ;
    -o-border-radius:15px ;
}
.dishes__total-title {
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;

}
.dishes__total-price {
    font-family: Montserrat;
font-size: 25px;
font-weight: 600;
line-height: 30.48px;
text-align: left;

}