// Заголовки, загальні БЕМ блоки та інше...
[class="&__btn"]{
	   max-width: 220px;
    width: 100%;
    border-radius: 15px;
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 700;
    line-height: 30.48px;
    text-align: left;
    padding: 5px 10px;
    background-color: #ff831d;

}